* {
    /* background-color: hsla(93, 87%, 45%, 0.278) !important;
    border: 1px solid red !important; */
}

:root {
    --avo-green: #b2c248;
    --avo-green-light: hsla(68, 50%, 52%, 70%);
}

html {
    font-size: 16px;
}

body {
    background: var(--avo-green-light) !important;
}

main {
    background-image: url(/assets/images/avo-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header {
    background-image: url('/assets/images/header-guac.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--avo-green);
    border-bottom: 5px solid var(--avo-green);
}

header section:nth-child(1) div {
    color: #000;
    border: 2px solid hsla(0, 0%, 0%, 80%);
    background-color: rgba(255, 255, 255, 0.7);
}

header section:nth-child(2) div {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Custom Classes */

header section:nth-child(2) span {
    display: flex;
    align-items: center;
    gap: 0.5em; 
    padding-left: 1.5em;
    position: relative;
}

#time::before, #serves::before, #ingredients::before {
    position: absolute;
    bottom: -6px;
    left: -6px;
}

#time::before {
    content: url("/assets/images/svg-spinners--clock.svg");
}

#serves::before {
    content: url("/assets/images/game-icons--hot-meal.svg");
}

#ingredients::before {
    content: url("/assets/images/mdi--basket.svg");
}

.custom_ingredients, .custom_method {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 10px;
    border: 3px solid #000;
    flex: 1;
    font-weight: 600;
}

.swiper-button-next, .swiper-button-prev {
    padding: 30px 20px;
    background-color: #000;
    color: var(--avo-green) !important;
    font-weight: bold;
    border-radius: 20%;
}

.card {
    min-height: 300px;
    height: 100%;
}

.card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 10px 0px 10px;
}

.card-img img {
    height: 100%;
    object-fit: cover;
    /* object-position: top center;  */
    border-radius: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body p {
    margin-bottom: 5px;
}


.card-body i {
    font-weight: 600;
}

.card-body i::before {
    content: '~ ';
}

footer {
    background-color: var(--avo-green);
    color: var(--avo-green);
    border-top: 5px solid var(--avo-green);
    text-decoration-style: dotted;
}

@media screen and (min-width: 768px) {
    header {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}